<% provide(:title, t("app.contact")) %>
<h1><%= t("app.contact") %></h1>
<p>
  <%=
    t(".description_html",
      contact_href: link_to(
        t(".contact_page"),
        "https://www.railstutorial.org/contact"
      ),
    )
  %>
</p>
