<% provide(:title, t("app.help")) %>
<h1><%= t("app.help") %></h1>
<p>
  <%=
    t(".description_html",
      help_href: link_to(
        t(".rails_tutorial_help_page"),
        "https://www.railstutorial.org/help"
      ),
      book_href: link_to(
        "<em>#{t(".ruby_on_rails_tutorial")}</em> #{t(".book")}".html_safe,
        "https://www.railstutorial.org/book"
      )
    )
  %>
</p>
